/* LinkedInStatus.css */
.profile {
    max-width: 600px;
    margin: 0 auto;
    background-color: #abf083;
    padding: 30px;
    margin-top: 15px;
    margin-bottom:15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }
  
  .name {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  
  .follow-text {
    cursor: pointer;
    transition: font-size 0.3s; 
  }
  
  .follow-text:hover {
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;  
  }
  
  
  .pocetni
  {
    margin-bottom:30px;
  }
  .email {
    font-size: 16px;
    color: #555;
   
  }
  .actions AccessibilityIcon {
    color: red; /* ili bilo koja druga boja koja se lako uočava */
  }
  
  .commentContainer {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    width: auto;
    max-width: 280px; /* Opcionalno: postavljanje maksimalne širine ako želite ograničiti širinu */
  }
  
  .commentsWrapper {
   
    overflow-x: auto; /* Omogući horizontalni skrol ako je potrebno */
  }
  
  .commentsContainer1 {
    display: flex;
    white-space: nowrap; /* Spriječava prelazak u novi red */
  }
  
  .commentContainer {
    margin-right: 10px; /* Razmak između komentara */
  }
  

  
  .status {
    font-size: 18px;
    margin-top: 10px;
    color: black;
  }
  
  .actions {
    margin-top: 20px;
  }
  
  .dodatni
  {
    color:black
  }
  button {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  button.like {
    background-color: #0073b1;
    color: #fff;
  }
  
  button.comment {
    background-color: #e0e0e0;
  }
  
  button.share {
    background-color: #0073b1;
    color: #fff;
  }
  /* Stilovi */
.custom-link {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  position: relative;
  
}

.custom-link:hover::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 1px;
  bottom: -2px;
  background-color: currentColor; /* Nasleđuje boju teksta */
}
